.pagination-button-size {
  width: 35px;
  height: 36px;
}

.pagination {
  justify-self: center;
}

@media (width < 768px) {
  .pagination {
    margin-top: 12px;
  }

  .dt-info {
    justify-self: center;
  }

  .pagination-container {
    flex-direction: column-reverse;
  }
}