.form-container {
  overflow-y: auto;
}

.qrcode {
  padding: 1px !important;
  margin: 0px
}


.align-qr-code {
  display: flex;
  justify-content: center;
  align-content: end;
  flex-wrap: wrap;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .form-container {
    overflow-y: unset;
  }
}
.img-box{
  border: 1px #345eab dashed;
  padding: 10px;
}

.preview{
  padding: 30px;
  background: #f0f3f7;
  /*border-radius: 15px;*/
  height: 100vh!important;
}

.order-view{
  font-size: 12px;
  padding: 60px;
  background: #fff;
  height: 90vh!important;
}
.order-view p{
  font-size: 12px;
  line-height: 14px;
}
.order-view .title{
  font-size: 15px;
  margin-bottom: 5px;
}
.order-view .map{
  overflow: hidden;
  height: 200px;
  width: 100%;
}