.menu-item a.active:before {
  content: "";
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 2.5rem;
  border-radius: 0.375rem 0 0 0.375rem;
}
.bg-menu-theme .menu-inner > .menu-item a.active{
  color: #696cff;
  background-color: rgba(105, 108, 255, 0.16) !important;
  font-weight: 600;
}
.bg-menu-theme .menu-inner > .menu-item a.active:before {
  background: #696cff;
  margin-right: -16px;
}
.menu-vertical .menu-item .menu-toggle::after {
  inset-inline-end: calc(var(--bs-menu-vertical-link-padding-x) + .3rem);
  transition: transform .3s;
}