.menu-item a.active:before {
  content: "";
  position: absolute;
  right: 0;
  width: 0.25rem;
  height: 2.5rem;
  border-radius: 0.375rem 0 0 0.375rem;
}

.bg-menu-theme .menu-inner>.menu-item a.active {
  color: #0e3780;
  background-color: rgba(79, 130, 214, 0.18) !important;
  font-weight: 600;
}

.bg-menu-theme .menu-inner>.menu-item a.active:before {
  background: #0e3780;
  margin-right: -16px;
}

.menu-vertical .menu-item .menu-toggle::after {
  transition: transform .3s;
}

@media (max-width: 767px) {

  .navbar-toggle {
    transform: translate(var(--menu-position)) !important;
    transition: .5s !important;
    flex-wrap: nowrap !important;
    flex-direction: column;

  }


  .navbar-toggle .app-brand {
    /* transform: translate(80vw) !important; */
    height: 5em;
  }

  .navbar-toggle .menu-inner {
    padding-top: 5em !important;
  }

  .menu-vertical {
    width: 100vw !important;
  }



  .bg-color {
    background: #fff;
    width: 100vw;
    height: 100vh;
  }

  .menu-item-w {
    width: 100vw !important;

  }

  .app-brand {
    justify-content: space-between;
  }

  .close-toggle {
    background-color: var(--bs-primary);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .close-toggle svg {
    color: white;
    margin: auto;

  }

}