.report table {
  border: none;
  padding: 50px !important;
}

.report table tr.row-os {
  border-top: 1px solid #d3d0d0 !important;
}
.report td,
.report th {
  font-size: 11px;
  width: auto;
  padding: 3px 3px !important;
}

.report .row-os {
  padding: 20px !important;
}